{% extends "layout.html" %}

{%block title%}

Fin venta individual

{% endblock%}

{% block main%}
<div class="content">
    <div class="row ganado">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Finalizar venta</h3>
                </div>
                <div class="card-body">
                    {% for cabeza in ganado %}
                    <div class="form-group">
                        <div class="inputs">
                            <form action="/venta/individual/fin" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-xl-6 mb-3">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre"
                                            value="{{cabeza.nombre}}" disabled>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="nombre">Chapa</label>
                                        <input type="text" class="form-control" id="codigo" name="codigo"
                                            value="{{cabeza.codigochapa}}" disabled>
                                            <input type="text" class="form-control" id="bovino" name="bovino"
                                            value="{{cabeza.id}}" hidden>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="raza">Raza</label>
                                        <input type="text" class="form-control" id="raza" name="raza"
                                            value="{{cabeza.nombreraza}}" disabled>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="raza">Peso</label>
                                        <input type="text" class="form-control" id="peso" name="peso"
                                            value="{{cabeza.peso}}" required>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="fechaVenta">Fecha de venta</label>
                                        <input type="date" class="form-control" id="fechaVenta"
                                            name="fechaVenta" required>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="cliente">Cliente</label>
                                        <select class="form-control" id="cliente" name="cliente" required>
                                            <option disabled="" selected="" value="">Seleccione un elemento</option>
                                            {% for item in cliente %}
                                            <option value="{{item[0]}}">{{item[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="total">Precio</label>
                                        <input class="form-control" type="text" placeholder="Precio"
                                            name="total" required>
                                    </div>
                                    <div class="col-xl-6 mb-3">
                                        <label for="file">Seleccione carta de venta <i class="fa fa-upload"></i></label>
                                        <input class="form-control mb-4" type="file" name="file" id="img-uploader"
                                            accept="application/pdf">
                                        <progress id="img-upload-bar" value="0" max="100"
                                            style="width: 100%;height: 40px;"></progress>
                                    </div>
                                    
                                    <div class="col-xl-12 form-group" align="center">
                                        <button class="btn btn-primary" type="submit">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% endblock%}