{% extends "layout.html" %}

{%block title%}

Compras

{% endblock%}

{% block main%}
<div class="content">
  <div class="row bloque">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <h3 class="sign pt-2 text-center">Historial de compras</h3>
        </div>
        <div class="form-group">
          <div class="row pl-5 pr-5">
            <div class="col-6" style="align-self: center;">
              <a href="/compra" class="btn btn-primary">
                <i class="nc-icon nc-simple-add"></i></a>
              </button>
            </div>
            <div class="col-6 text-end">
              <a href="/reporte/compras" target="_blank" class="btn btn-warning"><i class="fa-solid fa-file-pdf fa-xl"
                style="color: #e00606;"></i> Descargar reporte</a>
            </div>
          </div>
          <div class="table-responsive pr-5 pl-5">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for compra in compras %}
                <tr>
                  <td>{{ compra.fecha }}</td>
                  <td>{{ compra.proveedor }}</td>
                  <td>{{ compra.cantidad }}</td>
                  <td>C$ {{ compra.montototal }}</td>
                  <td>
                    <!-- Botón para abrir el modal -->
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ compra.id }}"><i
                        class="fa fa-eye"></i></a>

                    <!-- Modal -->
                    <div class="modal fade" id="modal{{ compra.id }}" tabindex="-1" data-bs-backdrop="static"
                      aria-labelledby="modalLabel{{ compra.id }}" aria-hidden="true">
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel{{ compra.id }}">Detalles de la compra</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- Contenido del modal -->
                            <div class="row m-1">
                              <div class="col-3 p-1">
                                Proveedor: {{ compra.proveedor }}
                              </div>
                              <div class="col-3 p-1">
                                Fecha: {{ compra.fecha }}
                              </div>
                              <div class="col-3 p-1">
                                Monto: C$ {{ compra.montototal }}
                              </div>
                              {% if compra.cartacompra %}
                              <div class="col-3">
                                <div class="text-center">
                                  <a href="{{compra.cartacompra}}" target="_blank"><i class="fa-solid fa-file-pdf fa-2xl"
                                      style="color: #e00606;"></i>Ver carta</a>
                                </div>
                              </div>
                              {% endif %}
                            </div>
                            <br>
                            <h6 align="center">Datos del ganado</h6>
                            <div class="table-responsive">
                              <table class="table">
                                <thead class="text-primary">
                                  <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Raza</th>
                                    <th scope="col">Tamaño</th>
                                    <th scope="col">Peso</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% set chapas_ganado = compra.chapas_ganado .split(',')%}
                                  {% set nombres_ganado = compra.nombres_ganado .split(',')%}
                                  {% set razas_ganado = compra.razas_ganado .split(',')%}
                                  {% set tamanios_ganado = compra.tamanios .split(',')%}
                                  {% set pesos_ganado = compra.pesos .split(',')%}
                                  {% for i in range(chapas_ganado|length) %}
                                  <tr>
                                    <td>{{ chapas_ganado[i]|trim }}</td>
                                    <td>{{ nombres_ganado[i]|trim }}</td>
                                    <td>{{ razas_ganado[i]|trim }}</td>
                                    <td>{{ tamanios_ganado[i]|trim }} mts</td>
                                    <td>{{ pesos_ganado[i]|trim }} Kg</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
                  <td><button class="btn btn-danger" onclick="eliminarCompra('{{compra.id}}')"><i
                        class="fa-solid fa-trash-can"></i>
                    </button></a>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock%}