{% extends "layout.html" %}

{%block title%}

San Francisco - Entidad comercial

{% endblock%}

{% block main%}
<div class="content">
    <div class="row ganado">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="sign pt-2 pb-2 text-center">Nueva entidad comercial</h3>
                </div>
                <div class="form-group">
                    <div class="inputs">
                        <form action="/entidadesComerciales" method="post">
                            <div class="row m-3">

                                <div class="col-xl-6 mb-3">
                                    <label for="tipoEntidad">Tipo de entidad</label>
                                    <select class="form-control" id="tipoEntidad" name="tipoEntidad" required>
                                        <option disabled="" selected="" value="">Seleccione un tipo</option>
                                        <option value="1">Natural</option>
                                        <option value="2">Juridica</option>
                                    </select>
                                </div>

                                <div class="col-xl-6 mb-3">
                                    <label for="cedula">Identificación</label>
                                    <input type="text" class="form-control" id="identificacion" name="identificacion"
                                        placeholder="Identificación" required>
                                </div>

                                <div class="col-xl-6 mb-3" id="div_nombre">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                        placeholder="Nombre" required>
                                </div>

                                <div class="col-xl-6 mb-3" id="div_apellido">
                                    <label for="nombre">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" name="apellido"
                                        placeholder="Apellido">
                                </div>

                                <div class="col-xl-6 mb-3">
                                    <label for="telefono">Telefono</label>
                                    <input type="tel" class="form-control" id="telefono" name="telefono"
                                        placeholder="Telefono">
                                </div>

                                <div class="col-12 form-group" align="center">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="sign pt-2 pb-2 text-center">Relaciones comerciales</h3>
                </div>
                <div class="form-group">
                    <div class="inputs">
                        <div class="row m-3">
                            <div class="col-12">
                                <table class="table table-striped">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Telefono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for entidad in entidades %}
                                        <tr>
                                            <td>{{entidad.nombre + ' ' + entidad.apellido|default('', true)}}</td>
                                            <td>{{entidad.telefono|default('-', true)}}</td>
                                            <td> <a class="btn btn-primary" href="/entidadesComerciales/{{entidad.id}}/editar"><i
                                                        class="fa-regular fa-pen-to-square"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const ent = document.getElementById("tipoEntidad")

    ent.addEventListener('change', function () {
        if (ent.value == 2) {
            document.getElementById("identificacion").placeholder = "Código RUC";
            document.getElementById("div_apellido").hidden = true;
        }
        else {
            document.getElementById("identificacion").placeholder = "Número de cédula";
            document.getElementById("div_apellido").hidden = false;
        }
    })
</script>

{% endblock%}