{% extends "layout.html" %}

{%block title%}

San Francisco - Ganado

{% endblock%}

{% block main%}
<form class="d-flex">
  <div class="container-fluid input-group col-sm-6 d-flex justify-items-center">
    <input type="text" value="" class="form-control" placeholder="Buscar..." id="buscarganadoinput">
    <div class="input-group-append">
      <div class="input-group-text">
        <i class="nc-icon nc-zoom-split"></i>
      </div>
    </div>
  </div>

</form>

<div class="content">
  <div class="ganado-list">
    <div class="ganado-box row d-flex" id="ganado-items">
      {% for cabeza in ganado %}
      <div class="col-md-4 ganado-card">
        <div class="card">
          <a href="/infonovillo/{{cabeza[0]}}">
            <img class="img-top" src="{{cabeza.foto}}">
          </a>
          <h5 class="card-title">{{cabeza.codigochapa}} - {{cabeza.nombre}}</h5>
          <div class="row d-flex">
            <div class="col-12 form-group" align="center">

              <a class="btn btn-primary" href="/infonovillo/{{cabeza[0]}}/edit">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>

              <button class="btn btn-danger"
                onclick="eliminarBovino('{{cabeza[0]}}', '{{cabeza.codigochapa}}', '{{cabeza.nombre}}')"><i
                  class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

      <div class="container-fluid d-flex justify-content-center">
        <!---  {{ pagination.info }} --->
        {{ pagination.links }}
      </div>
      
    </div>
  </div>
</div>
{% endblock%}