{% extends "layout.html" %}

{%block title%}

Mi cuenta

{% endblock%}

{% block main%}
<div class="content">
    <div class="row mi-cuenta">
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header pb-5">
                    <h3 class="sign pt-2 pb-2 text-center">Datos de tu cuenta</h3>
                </div>

                {%for usuario in usuario%}
                <div class="card-body">
                    <div class="author">
                        {% if usuario["foto"] %}
                        <img class="avatar" src="{{usuario[" foto"]}}" id="img-preview">
                        {% else %}
                        <img class="avatar" src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png"
                            id="img-preview">
                        {% endif %}
                        <br>
                        <label for="img-uploader"> Editar foto de perfil</label>
                        <input type="file" id="img-uploader" accept="image/*" hidden>
                        <input name="perfil" id="url" hidden form="update-my-profile">
                        <h5 class="title">
                            {{usuario["usuario"]}}
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-md-1">
                            <div class="form-group">
                                <label>Nombre de usuario</label>
                                <input type="text" class="form-control" placeholder="Nombre de usuario" value={{usuario["usuario"]}} name="usuario" disabled>
                            </div>
                        </div>

                        <div class="col-md-4 pr-md-1">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" value="{{usuario["nombre"]}}"
                                    placeholder="Nombre" name="nombre" required>
                            </div>
                        </div>
                        <div class="col-md-4 pl-md-1">
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" value="{{usuario["apellido"]}}" name="apellido"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Acerca de mi</label>
                                <input type="text" class="form-control" value="Me gusta el pan" name="biografia"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group" align="center">
                        <form action="/micuenta" id="update-my-profile" method="post">
                            <input type="submit" value="Guardar" class="btn btn-primary" data-toggle="modal"
                                data-target="#GuadarInfo" style="height: 100%;">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}