{% extends "layout.html" %}

{%block title%}

Informaci&oacute;n del novillo

{% endblock%}

{% block main%}
<div class="content">
    {%for novillo in novillo%}
    <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="https://assets.easybroker.com/property_images/4046210/66859757/medium_EB-ON6210.jpg?version=1696443519"
                        alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <img class="avatar border-gray m-0" src="{{novillo.foto}}" id="img-preview">
                        <br><br>
                        <h5 class="title m-0">{{novillo.nombre}}</h5>
                        <p class="description">
                            {{novillo.codigochapa}}
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-6 ml-auto">
                                {{cantRegistrosP[0]}}<br><small>Control</small>
                            </div>
                            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                {{cantEnfermedades[0] | default('0', true)}}<br><small>Enfermedad</small>
                            </div>
                            <div class="col-lg-4 mr-auto">
                                C$ {{"{:,.2f}".format(gastos | float)}}<br><small>Gastos</small>
                            </div>
                        </div>
                    </div>
                    <div class="button-container pt-3">
                        <a href="/reporte/ganado/{{id}}" target="_blank"><i class="fa-solid fa-file-pdf fa-xl"
                            style="color: #e00606;"></i> Descargar reporte</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header pt-0">
                    <h4 class="card-title">Gastos</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members mb-0">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="https://static.vecteezy.com/system/resources/previews/000/637/367/original/vector-medicine-icon-symbol-sign.jpg"
                                            alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    Medicina
                                    <br />
                                    <span><small> C$ {{"{:,.2f}".format(totalMedicina[0] | float) | default('0', true)}}</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <btn class="btn btn-sm btn-outline-success btn-round btn-icon"
                                        data-bs-toggle="modal" data-bs-target="#medicina"><i class="fa fa-eye"></i>
                                    </btn>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="https://img.freepik.com/vector-premium/hierba-icono-vector-plantilla-logo-moda-coleccion-diseno-plano_917138-9211.jpg"
                                            alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    Alimentación
                                    <br />
                                    <span><small> C$ {{"{:,.2f}".format(totalAlimento[0] | float) | default('0', true)}}</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <btn class="btn btn-sm btn-outline-success btn-round btn-icon"data-bs-toggle="modal" data-bs-target="#alimento"><i
                                            class="fa fa-eye"></i></btn>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header pt-0">
                    <h4 class="card-title">Control medico</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members mb-0">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img src="https://cdn-icons-png.flaticon.com/512/6567/6567035.png"
                                            alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-ms-7 col-7">
                                    Controles
                                    <br />
                                    <span><small>{{cantRegistrosM[0]}}</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <btn class="btn btn-sm btn-outline-success btn-round btn-icon"
                                        data-bs-toggle="modal" data-bs-target="#controlMedico"><i class="fa fa-eye"></i>
                                    </btn>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h3 class="sign pt-2 pb-2 text-center">Datos del animal</h3>
                </div>
                    <div class="form-group">
                        <div class="inputs">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre"
                                            value="{{novillo.nombre}}" required disabled>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <label for="codigo">Codigo de chapa</label>
                                        <input type="text" class="form-control" id="codigo" name="codigo"
                                            value="{{novillo.codigochapa}}" required disabled>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <label for="raza">Raza</label>
                                        <select class="form-control" id="raza" name="raza" disabled>
                                            <!-- <option value={{novillo.razaid}}>{{novillo.nombreraza}}</option> -->
                                            {% for item in razas %}
                                            <option value="{{item[0]}}" {% if novillo.razaid==item[0] %} selected {%
                                                endif %}>{{item[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                        <input type="date" class="form-control" id="fechaNacimiento"
                                            name="fechaNacimiento" value="{{novillo.fechanacimiento}}" disabled required>
                                    </div>

                                    <div class="col-lg-3 mb-3">
                                        <label for="color">Color</label>
                                        <input type="text" class="form-control" id="color" name="color"
                                            value="{{novillo.color}}" disabled required>
                                    </div>

                                    <div class="col-lg-3 mb-3">
                                        <label for="tamaño">Tamaño(mts)</label>
                                        <input type="text" class="form-control" id="tamaño" name="tamaño"
                                            value="{{novillo.tamanio}}" required disabled>
                                    </div>

                                    <div class="col-lg-3 mb-3">
                                        <label for="peso">Peso(kg)</label>
                                        <input type="text" class="form-control" id="peso" name="peso"
                                            value="{{novillo.peso}}" required disabled>
                                    </div>

                                    <div class="col-lg-3 mb-3">
                                        <label for="procedencia">Procedencia</label>
                                        <select class="form-control" id="procedencia" name="procedencia" disabled required>
                                            {% for item in origen %}
                                            <option value="{{item[0]}}" {% if novillo.origenganadoid==item[0] %}
                                                selected {% endif %}>{{item[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-lg-12 mb-1">
                                        <label for="comentario">Comentario</label>
                                        <input class="form-control mb-3" type="text" name="comentario" id="comentario"
                                            placeholder="Comentario" {% if novillo.comentario %}
                                            value="{{novillo.comentario}}" {% endif %} disabled>
                                    </div>
                                    <div class="col-12 form-group mb-0" align="center">
                                        <a href="/infonovillo/{{id}}/edit" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card registroProduccion">
                <div class="card-header">
                    <h5 class="sign pt-2 pb-2 text-center">Control del bovino</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Peso</th>
                                    <th scope="col">Tamaño</th>
                                    <th scope="col">Comentario</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for reg in registros %}
                                <tr>
                                    <td>{{reg.fecha}}</td>
                                    <td>{{"{:,.2f}".format(reg.peso | float)}}</td>
                                    <td>{{"{:,.2f}".format(reg.tamanio | float)}}</td>
                                    <td>{{reg.comentario|default('Sin comentario', true)}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal medicina -->
    <div class="modal fade" id="medicina" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Medicina suministrada</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Enfermedad</th>
                                    <th>Medicina</th>
                                    <th>Dosis</th>
                                    <th>Costo</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for reg in registrosMedicos %}
                                <tr>
                                    <td>{{reg.fecha}}</td>
                                    <td>{{reg.enfermedad}}</td>
                                    <td>{{reg.medicina}}</td>
                                    <td>{{reg.dosis}}</td>
                                    <td>C$ {{reg.costo}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal alimento -->
    <div class="modal fade" id="alimento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Alimentaci&oacute;n suministrada</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Alimento</th>
                                    <th>Cantidad</th>
                                    <th>Costo</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for reg in registrosAlimento %}
                                <tr>
                                    <td>{{reg.fecha}}</td>
                                    <td>{{reg.nombre}}</td>
                                    <td>{{reg.cantidadsuministrada}}</td>
                                    <td>C$ {{reg.costo}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal control medico -->
    <div class="modal fade" id="controlMedico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Controles medicos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Enfermedad</th>
                                    <th>Medicina</th>
                                    <th>Dosis</th>
                                    <th>Diagnostico</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for reg in registrosMedicos %}
                                <tr>
                                    <td>{{reg.fecha}}</td>
                                    <td>{{reg.enfermedad}}</td>
                                    <td>{{reg.medicina}}</td>
                                    <td>{{reg.dosis}}</td>
                                    <td>{{reg.diagnostico}}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function submitForm(form) {
        swal(
            {
                title: "Confirmar edición",
                text: "¿Estas seguro de cambiar los datos del bovino?",
                icon: "warning",
                buttons: true,
            })
            .then((isOkay) => {
                if (isOkay)
                    form.submit();
            });

        return false;
    }

</script>


{% endblock%}