{% extends "layout.html" %}

{%block title%}

San Francisco - Tablero

{% endblock%}

{% block main%}
<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-5 col-sm-">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa-solid fa-cow" style="color: #715656;"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Capacidad</p>
                <p class="card-title" id="ganadodisponible">{{datos["disponibilidad"]}}<p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            Ganado macho
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Ventas totales</p>
                <p class="card-title" style="font-size:large;">{{"C$ {:,.2f}".format(datos["ventas_totales"])}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i>
            En el ultimo semestre
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa-solid fa-skull" style="color: #8b0404;"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Mortalidad</p>
                <p class="card-title">{{datos["mortalidad"]}} %</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i>
            En el ultimo semestre
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa-solid fa-money-check-dollar" style="color: #12b559;"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Ganancias</p>
                <p class="card-title" {% if datos["ventas_totales"] - datos["gastostotales"] < 0 %}
                  style="color:red; font-size:large;" {%else%} style="font-size:large;" {% endif %}>{{"C$
                  {:,.2f}".format(datos["ventas_totales"] - datos["gastostotales"])}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i>
            En el ultimo semestre
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Gastos totales</h5>
        </div>
        <div class="card-body ">
          <canvas id=chartHours width="400" height="100"></canvas>
          <div hidden>
            {% for item in datos["alimentacion"] %}
              <p hidden id="{{item}}" class="datosalimentacion">{{datos["alimentacion"][item]}}</p>
            {% endfor %}
          </div>
          <div hidden>
            {% for item in datos["medicinas"] %}
              <p hidden id="{{item}}" class="datosmedicos">{{datos["medicinas"][item]}}</p>
            {% endfor %}
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Actualizado ahora
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Estadisticas de ganado</h5>
          <!-- <p class="card-category">Last Campaign Performance</p> -->
        </div>
        <div class="card-body ">
          <canvas id="chartEmail"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-primary"></i> Disponible
            <i class="fa fa-circle text-warning"></i> Vendido
            <p id="ganadovendido" hidden>{{datos["Vendido"]}}</p>
            <i class="fa fa-circle text-danger"></i> Muerto
            <p id="ganadomuerto" hidden>{{datos["Muerto"]}}</p>
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i>Actualizado ahora
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">Compras - Ventas</h5>
        </div>
        <div class="card-body">
          <canvas id="speedChart" width="400" height="90"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-info"></i> Compras
            {% for item in datos["totalcompra_venta"]["compras"] %}
              <p hidden id="{{item}}" class="datoscompra">{{datos["totalcompra_venta"]["compras"][item]}}</p>
            {% endfor %}
            <i class="fa fa-circle text-warning"></i> Ventas
            {% for item in datos["totalcompra_venta"]["ventas"] %}
              <p hidden id="{{item}}" class="datosventa">{{datos["totalcompra_venta"]["ventas"][item]}}</p>
            {% endfor %}
          </div>
          <hr />
          <div class="card-stats">
            <i class="fa fa-history"></i> Actualizado ahora
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
    demo.initChartsPages();
  });
</script>
{% endblock%}